In [1]:
str1 = "Good Morning"
print(str1)

Good Morning

# Back Slash

In [2]:
print("Good \
Morning")

Good Morning

# Triple Quote

In [3]:
print("""        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
""")

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

# String Inside Code

In [4]:
print("Student's Code")

Student's Code

# Escape Sequence of String

In [5]:
print("Good\t Morning")

Good	 Morning

In [6]:
print("Good\t Morning")

Good	 Morning

In [7]:
print("Good\'set' Morning")

Good'set' Morning

# Formatted Output

In [9]:
student_name = 'Shubham'
roll_no = 24
print('Student name : %s , roll number : %d'%(student_name,roll_no))

Student name : Shubham , roll number : 24

In [10]:
student_name = 'Shubham'
roll_no = 24
print('Student name : %s , roll number : %d'%(student_name,roll_no))

Student name : Shubham , roll number : 24

In [11]:
student_name = 'Shubham'
roll_no = 24
print('Student name : ', student_name ,', roll number : ' , roll_no)

Student name :  Shubham , roll number :  24

# Python Variable & Assignment Statement

In [12]:
num = 10

- Here 'num' is a variable & '=' is a assignment operator & 10 is data.
- Variable means which hold the data.

## Rules for define a variable 
- Python is a case sensitive programming language so variable also case sensitive.
- Python dose not allow special characters such as @, $, % within identifiers.
- In Python variable not start with numbers.
- In Python we can not use if , def ,break, continue as variable.

In [16]:
num1 = num2 =44
print (num1)
print (num2)

44
44

In [21]:
id (num1)

140722364327664

In [22]:
id (num2)

140722364327664

In [23]:
del (num1)

In [24]:
print (num1)

NameError: name 'num1' is not defined

In [25]:
del (num2)

In [26]:
print(num2)

NameError: name 'num2' is not defined

# Python Operator

Operators are the constructs which can manipulate the value of other operands.
Consider the expression 2 + 3 = 5, here 2 & 3 are operands & + is operator.

Type of operators :- 
1. Arithmetic 2. Comparison 3. Bitwise 4. Membership 5. Assignment 6. Logical 7. Identity

## Arithmetic Operator:
- Addition : a + b
- Subtraction : a - b
- Multiplication : a * b
- Division : a / b
- Modulus : a % b
- Exponent : a ** b
- Floor Division : a // b

In [27]:
num1 , num2 = 121 , 19
print("Addition : ",num1 + num2)

Addition :  140

In [28]:
num1 , num2 = 25 , 17
print("Subtraction : ",num1 - num2)

Subtraction :  8

In [29]:
num1 , num2 = 50 , 100
print("Multiplication : ",num1 * num2)

Multiplication :  5000

In [30]:
num1 , num2 = 155, 45
print("Division : ",num1 / num2)

Division :  3.4444444444444446

In [31]:
num1 , num2 = 15 , 25
print("Modulus : ",num1 % num2)

Modulus :  15

In [32]:
num1 , num2 = 15 , 2
print("Exponent : ",num1 ** num2)

Exponent :  225

In [33]:
num1 , num2 = 155 , 2
print("Exponent : ",num1 ** num2)

Exponent :  24025

## Comparision Operator
- Equal to : a == b
- Not equal to : a != b
- Greater than : a > b
- Less than : a < b
- Greater than equal to : a >= b
- Less than equal to : a <= b

In [34]:
a = b = 91
print(a == b)

True

In [35]:
a , b = 2,2
print(a == b)

True

In [36]:
a = b = 19
print(a != b)

False

In [37]:
a , b = 2,5
print(a != b)

True

In [38]:
a , b = 2,6
print(a > b)

False

In [39]:
a , b = 2,6
print(a < b)

True

In [40]:
a ,b = 12,12
print(a <= b)

True

In [41]:
a ,b = 11,15
print(a >= b)

False

## Bitwise Operator
- Binary AND a & b
- Binary OR a | b
- Binary XOR a ^ b 
- Binary NOT : a ~ b
- Binary Left Shift : a <<
- Binary Right Shift : a >> b

In [47]:
a = 2
b = 3
print (a & b)
print (a | b)
print (a ^ b)
print (~a)
print (a << b)
print (a >> b)

2
3
1
-3
16
0

## Assignment Operator
- a = b -> a = b
- a += b -> a = a + b
- a -= b -> a = a - b
- a *= b -> a = a * b
- a /= b -> a = a / b
- a ** = b -> a = a ** b
- a //= b -> a = a // b

In [49]:
x = 5
x += 3
print(x)

8

In [50]:
x = 5
x -= 3
print(x)

2

In [51]:
x = 5
x *= 3
print(x)

15

In [52]:
x = 5
x /= 3
print(x)

1.6666666666666667

In [53]:
x = 5
x //= 3
print(x)

1

In [54]:
x = 5
x **= 3
print(x)

125

## Logical Operator 
- a and b
- a or b
- not a

In [55]:
print (5==5 and 5>3)
print (5==6 and 5>3)
print (5==5 or 5>3)
print (5==6 or 5>3)
print (not(5==6 and 5>3))

True
False
True
True
True

## Membership Operator 
- in : Evaluates to TRUE if it find a variable in the specified sequence and FALSE otherwise.
- not in : Evaluates to TRUE if it does not find a variable in the specified sequence and FALSE otherwise.

In [56]:
lis = (4,6,9)
print (4  not in lis)
print (6  in lis)

False
True

## Identity Operator
- is : Evaluates to TRUE if the variables on either side of the operator point to the same object and FALSE otherwise.
- is not : Evaluates to FALSE if the variables on either side of the operator point to the same object and TRUE otherwise.

In [57]:
print (6 is 6)
print (6 is not 6)

True
False

# List and It's Function

In [58]:
a = [1,2,3,4]
# append(x): Adds an item (x) to the end of the list.
a.append(5)
print(a)
# extend(iterable): Extends the list by appending all the items from the iterable.This allows you to join two lists together. 
a.extend([6,7])
print(a)
# insert(i, x): Inserts an item at a given position.
a.insert(2,6)
print(a)
# remove(x): Removes the first item from the list that has a value of x.
a.remove(1)
print(a)
# pop([i]): Removes the item at the given position in the list, and returns it. If no index is specified, pop() removes and returns the last item in the list.
a.pop()
print(a)
# len(x): Returns the number of items in the list.
len(a)
print(a)
# list([iterable]): The list() constructor returns a mutable sequence list of elements
b = ('hi','bye')
print(list(b))
# max(x): Returns the largest item in an iterable (eg, list) or the largest of two or more arguments.
print(max(a))
# min(x): Returns the smallest item in an iterable (eg, list) or the smallest of two or more arguments
print(min(a))
# range(start, stop[, step]): It can be used along with list() to return a list of items between a given range.
print(range(0,10,2))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 6, 3, 4, 5, 6, 7]
[2, 6, 3, 4, 5, 6, 7]
[2, 6, 3, 4, 5, 6]
[2, 6, 3, 4, 5, 6]
['hi', 'bye']
6
2
range(0, 10, 2)

# String and It's Function

In [64]:
a = 'sun '
b = 'rise'
# capitalize(): Returns a copy of the string with its first character capitalized and the rest lowercased.
print(a.capitalize())
# upper(): Returns a copy of the string with all character capitalized
print(a.upper())
# in(): Membership — Returns True if x exists in the string. Can be multiple characters.
print('R' in b)
# +: Concatenates (joins) string1 and string2
print(a+b)
# *: Repeats the string for as many times as specified by x
print(a *3)

Sun
SUN
False
sun rise
sun sun sun

# Tuple and It's Function

In [65]:
abc = ('1','2','hi','good')
az = ('3', '4')
# len(x): Returns the number of items in the tuple.
print(len(abc))
# in(x): Returns True if x exists in the tuple.
print('go' in abc)
# +: Concatenates (joins) string1 and string2
print(abc+az)
# tuple(): Constructor returns a inmutable sequence tuple of elements.
n = [1,2,3,4,5]
print(tuple(n))
# del(): Delete the tuple completely
del (n)

4
False
('1', '2', 'hi', 'good', '3', '4')
(1, 2, 3, 4, 5)

# Dictionary and It's Function

In [66]:
m = {"brand": "Ford","model": "Mustang","year": 1964}
# items():Returns a list containing a tuple for each key value pair
print(m.items())
# keys():Returns a list containing the dictionary's keys
print(m.keys())
# values(): Returns a list of all the values in the dictionary
print(m.values())
# [" "]=" ": Adding an item to the dictionary is done by using a new index key and assigning a value to it
m ["color"] = "black"
print (m)
# len(): Shows how many items (key-value pairs) a dictionary has
print(len(m))
# del(): keyword removes the item with the specified key name or it can also delete the dictionary completely
del m["brand"]
print (m)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'black'}
4
{'model': 'Mustang', 'year': 1964, 'color': 'black'}

# Set and It's Function

In [67]:
set1 = {'a',1,'b',2}
set2 = {1,2,3,4,5,6}
# add(): Adds an element to the set.
set1.add('c')
print(set1)
# update(): Update the set with the union of this set and others.
set1.update([3,'d',4])
print(set1)
# difference(): Returns a set containing the difference between two or more sets
print(set1.difference(set2))
#intersection(): Returns a set, that is the intersection of two other sets
set3 = set1.intersection(set2)
print(set3)
# symmetric_differences(): Returns a set with the symmetric differences of two sets
set4 = set1.symmetric_difference(set2)
print(set4)

{1, 2, 'a', 'c', 'b'}
{1, 2, 3, 4, 'd', 'a', 'c', 'b'}
{'a', 'b', 'd', 'c'}
{1, 2, 3, 4}
{5, 6, 'd', 'a', 'c', 'b'}